body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  transition: background-color 0.3s;
}

/* Light mode */
@media (prefers-color-scheme: light) {
  body {
    background-color: #f2f2f2;
  }
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a1a1a;
  }
}

img {
  width: 300px;
  cursor: pointer;
  transition: transform 0.2s;
}

img:hover {
  transform: scale(1.05);
}
